{% layout './layouts/layout.liquid' %}
{% block head %}
<link rel="stylesheet" href="/assets/styling/portfolio.css">
<link rel="stylesheet" href="/assets/styling/accessible-link.css">
{% endblock %}

{% block %}
<a class="back-to-about" href="/">
  back to about
</a>
<header>
  <h1 class="main-heading huge">PORTFOLIO
    <span class="heading-label">LOG</span>
  </h1>
</header>
<main>
  {% for project in allProjects reversed %}
    <article style="--main-number: {{forloop.index0}}" class="card">
      <div class="description-wrapper">
        <h2>{{ project.title | upcase }}</h2>
        <p>{{ project.description | upcase }}</p>
        <ul>
          {% for label in project.labels %}
            <li>{{label}}</li>
            {% else %}
              <li>No labels</li>
          {% endfor %}
        </ul>
      </div>
    </article>
  {% endfor %}
</main>
<aside class="navigation">
  <nav class="footer-nav">
  <h2>SOCIALS</h2>
  <ul>
    <li><a href="/">ABOUT</a></li>
  </ul>
</aside>
<aside class="visuals">
  {% for project in allProjects reversed %}
    {% assign splitText = project.title | split: " " %}
    {% assign firstWord = splitText[0] %}
    <article
      style="--card-number: {{forloop.index0}}"
      class="card"
      id="{{project.slug}}">
      <picture>
        <source srcset="/assets/img/project-visuals/{{ project.slug }}/{{ project.slug }}-bg.webp" type="image/webp">
        <source srcset="/assets/img/project-visuals/{{ project.slug }}/{{ project.slug }}-bg.jpg" type="image/jpeg">
        <source srcset="/assets/img/project-visuals/{{ project.slug }}/{{ project.slug }}-bg.jpeg" type="image/jpeg">
        <img src="/assets/img/project-visuals/{{ project.slug }}/{{ project.slug }}-bg.jpg" alt="{{project.alt}}">
      </picture>
      <div class="description-wrapper">
        <a href="portfolio/{{project.slug}}">
          <h2 class="split-text">
            {% for text in splitText %}
              <span style="--stagger: {{forloop.index0}}">{{ text | upcase }}</span>
            {% endfor %}
          </h2>
        </a>
        <p>{{ project.short-description | upcase }}</p>
      </div>
    </article>
  {% endfor %}
</aside>

{% endblock %}
